In [2]:
import pandas

In [3]:
dataset = pandas.read_csv('data.csv')
dataset

,Loan Id,Quarters,Years,Segment of Loan,Lender Name,Type of Loan,Original Loan size,Outstanding loan amount,Borrower Age,Borrower Income,New to Credit (Y /N),Gender
0,NBFCIN000COML267,Q1,FY21,Commercial,NBFC,Commercial Loan,157313960,77893320,45,80947960,Y,F
1,NBFCIN000COML629,Q1,FY20,Commercial,NBFC,Commercial Loan,11024000,2809000,49,5353000,N,M
2,NBFCIN000COML127,Q1,FY19,Commercial,NBFC,Commercial Loan,15499320,5215180,33,7530330,N,M
3,NBFCIN000COML461,Q1,FY19,Commercial,NBFC,Commercial Loan,5086360,2669080,37,1907385,N,M
4,PVT00COM187,Q1,FY21,Commercial,PVT Bank,Commercial Loan,8080800,4273500,47,6410250,N,M
...,...,...,...,...,...,...,...,...,...,...,...,...
2235,NBFCIN489TWL7269,Q4,FY21,Retail,NBFC,Two-Wheeler Loan,68670,46431,60,1177680,N,M
2236,NBFCIN59TWL5562,Q4,FY21,Retail,NBFC,Two-Wheeler Loan,64050,44408,28,430540,Y,M
2237,NBFCIN92TWL6031,Q4,FY19,Retail,NBFC,Two-Wheeler Loan,95790,52173,52,983180,Y,F
2238,PVT10TWL11859,Q4,FY20,Retail,PVT Bank,Two-Wheeler Loan,91800,32130,31,758536,Y,F
2239,PVT299TWL1584,Q4,FY21,Retail,PVT Bank,Two-Wheeler Loan,63240,21501,49,701360,N,M

In [20]:
# In FY20, what percentage of the market share of total loans are serviced by NBFCs?
total_loans = dataset.loc[dataset['Years'] == 'FY20', ['Lender Name']].value_counts()
nbfc_loans = total_loans['NBFC']
q1 = nbfc_loans / total_loans.sum()
q1 = round(q1, 2)
q1

0.37

In [32]:
# What is the ratio of Retail loan value given by private bank to that of PSU bank in FY21?
retail_loans = dataset.loc[(dataset['Years'] == 'FY21') & (dataset['Segment of Loan'] == 'Retail'), ['Lender Name']].value_counts()
q2 = retail_loans['PVT Bank'] / retail_loans['PSU Bank']
q2 = round(q2, 2)
q2

3.38

In [44]:
# What is the growth percentage between FY19-20 in servicing commercial loans by Private banks (in terms of loan value)?
commercial_loans = dataset.loc[(dataset['Segment of Loan'] == 'Commercial') & (dataset['Years'].isin(['FY19', 'FY20'])), ['Lender Name', 'Original Loan size']]
private_bank_loans = commercial_loans.loc[commercial_loans['Lender Name'] == 'PVT Bank', 'Original Loan size']
q3 = ((private_bank_loans.iloc[1] - private_bank_loans.iloc[0]) / private_bank_loans.iloc[0]) * 100
q3 = abs(round(q3, 2))
q3

61.4

In [67]:
# What is the difference in the average microfinance loan taken from NBFCs between FY20 and FY21?
microfinance_loans = dataset.loc[dataset['Segment of Loan'] == 'Microfinance', ['Years', 'Lender Name', 'Original Loan size']]
microfinance_loans = microfinance_loans.groupby(['Years', 'Lender Name']).mean()
q4 = microfinance_loans.loc['FY21'] - microfinance_loans.loc['FY20']
q4 = abs(int(q4.iloc[0].values[0]))
q4

1558

In [72]:
# What is the average credit card borrowings of Males in FY20?
credit_card_loans = dataset.loc[(dataset['Type of Loan'] == 'Credit Card') & (dataset['Years'] == 'FY20') & (dataset['Gender'] == "M"), ['Original Loan size']].mean()
q5 = int(credit_card_loans.values[0])
q5

32128

In [76]:
# What is the percentage difference in no. of credit card transactions between males and females across all years?
credit_card_transactions = dataset.loc[dataset['Type of Loan'] == 'Credit Card', ["Gender"]].value_counts()
q6 = abs((credit_card_transactions['M'] - credit_card_transactions['F']) / credit_card_transactions.sum())
q6 = round(q6, 2)
q6

0.51

In [78]:
# What is the percentage of new borrowers in RETAIL category in FY21 as compared to FY20?
retail_loans = dataset.loc[(dataset['Segment of Loan'] == 'Retail') & (dataset['Years'].isin(['FY20', 'FY21'])), ['Years']].value_counts()
q7 = retail_loans['FY21'] / retail_loans.sum()
q7 = round(q7, 2)
q7

0.51

In [92]:
# Who is the lender who gave out the highest average commercial loans to Women in FY19 (in terms of loan value)?
commercial_loans = dataset.loc[(dataset['Segment of Loan'] == 'Commercial') & (dataset['Years'] == 'FY19') & (dataset['Gender'] == "F"), ['Lender Name', 'Original Loan size']].groupby('Lender Name').mean()
q8 = commercial_loans.idxmax().values[0]
q8

'PVT Bank'

In [95]:
answers = [q1, q2, q3, q4, q5, q6, q7, q8]
output = "\n".join([f"Q{i},{answers[i-1]}" for i in range(1, len(answers)+1)])
dataset_number = 240 # change this to the dataset number
import os
roll = os.environ.get("IITM_ROLL_NUMBER")
with open(f"{roll}_GA1_Dataset{dataset_number}.csv", "w") as f:
    f.write(output)