In [40]:
# %pip install pandas numpy

In [41]:
import pandas as pd

In [42]:
# Load the V5.csv into a pandas dataframe
df = pd.read_csv('V5.csv')
df.describe()

,Year,Estimated Value,Sale Price,num_rooms,num_bathrooms,carpet_area,property_tax_rate
count,10000.000000,8.757000e+03,1.000000e+04,10000.000000,10000.000000,8771.000000,10000.000000
mean,2015.904900,4.377749e+05,6.129367e+05,3.335000,2.326400,1115.160871,1.148257
std,4.045725,7.799885e+05,1.102810e+06,0.886258,1.207977,308.026850,0.168458
min,2009.000000,9.800000e+02,2.000000e+03,3.000000,1.000000,900.000000,1.003979
25%,2012.000000,1.280300e+05,1.560000e+05,3.000000,1.000000,960.000000,1.023495
50%,2016.000000,2.300200e+05,3.250000e+05,3.000000,2.000000,1021.000000,1.025899
75%,2019.000000,4.253200e+05,6.150000e+05,3.000000,3.000000,1083.000000,1.348259
max,2022.000000,2.111991e+07,2.575000e+07,8.000000,8.000000,2989.000000,1.422308

In [43]:
# How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.
# Remove/Delete - means it will show NAN in place of "?"
# Note: If there is no value present in the dataset it is represented as NAN(read pandas documentation for all the other ways to represent null values) in data

# Count the number of "?" in the dataset
df.replace('?', pd.notna, inplace=True)
df.isnull().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property                0
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

In [44]:
"""
What is the value present at the 692th indexed row and 0th indexed column in the data ?

dataframe[692,0] (simpy saying this in a matrix)
rows/ columns starts indexing from zero(0) in python
"""

df.at[692, "Date"]

'2009-11-16'

In [45]:
df.iloc[546, 7]

3

In [46]:
# What are the unique values present in the Locality feature of the dataset?
df['Locality'].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

In [48]:
# Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?
df.replace('', pd.notna, inplace=True)
df.dropna(thresh=3, inplace=True)
df.shape

(10000, 12)

In [49]:
df.dropna(inplace=True)
df.shape

(6700, 12)