In [2]:
# %pip install pandas numpy

In [3]:
import pandas as pd

In [4]:
# Load the V5.csv into a pandas dataframe
df = pd.read_csv('V5.csv')
df.describe()

,Year,Estimated Value,Sale Price,num_rooms,num_bathrooms,carpet_area,property_tax_rate
count,10000.000000,8.757000e+03,1.000000e+04,10000.000000,10000.000000,8771.000000,10000.000000
mean,2015.904900,4.377749e+05,6.129367e+05,3.335000,2.326400,1115.160871,1.148257
std,4.045725,7.799885e+05,1.102810e+06,0.886258,1.207977,308.026850,0.168458
min,2009.000000,9.800000e+02,2.000000e+03,3.000000,1.000000,900.000000,1.003979
25%,2012.000000,1.280300e+05,1.560000e+05,3.000000,1.000000,960.000000,1.023495
50%,2016.000000,2.300200e+05,3.250000e+05,3.000000,2.000000,1021.000000,1.025899
75%,2019.000000,4.253200e+05,6.150000e+05,3.000000,3.000000,1083.000000,1.348259
max,2022.000000,2.111991e+07,2.575000e+07,8.000000,8.000000,2989.000000,1.422308

In [5]:
# selectng all the even rows
df_even = df.iloc[::2]
df_even.iloc[0, 3]

111440.0

In [13]:
df_even.iloc[1::2].iloc[332,3]

477000.0

In [44]:
# select odd columns
df_odd = df.iloc[:, 1::2]
df_odd.iloc[100, 5]

'West'

In [45]:
df_even.iloc[::2, ::2].iloc[255, 3]

'Detached House'

In [46]:
# Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

df['Year'].value_counts().sort_index().tail(6).sum()

4749

In [47]:
df.where(lambda x: x['num_rooms'] == 3).dropna().where(lambda x: x['num_bathrooms'] == 3).dropna().shape[0]

1819

In [48]:
# Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3

(df.where(lambda x: x['num_rooms'] == 3) + df.where(lambda x: x['num_bathrooms'] == 3)).drop_duplicates().dropna().shape[0]

1819

In [52]:
df[(df['Year'] == 2022) & (df['Locality'] == 'Greenwich') & (df['num_rooms'] == 3) & (df['Face'].isin(['North', 'East']))].shape[0]

42

In [60]:
df["Date"].where(lambda x: x.str.contains('-08-')).dropna().shape[0]

1050

In [65]:
df.groupby('Locality')['Sale Price'].mean()

Locality
Bridgeport       1.740953e+05
Fairfield        7.277225e+05
Greenwich        2.270224e+06
Norwalk          5.590959e+05
Stamford         6.305313e+05
Waterbury        1.062152e+05
West Hartford    3.385472e+05
Name: Sale Price, dtype: float64