In [3]:
import pandas

In [4]:
dataset = pandas.read_csv('data.csv')
dataset

,STATE,REGION_TYPE,REASON_FOR_NON_RESPONSE,RESPONSE_STATUS,HH_WEIGHT_MS,AGE_GROUP,OCCUPATION_GROUP,EDUCATION_GROUP,GENDER_GROUP,SIZE_GROUP,...,MONTHLY_EXPENSE_ON_MEDICINES,MONTHLY_EXPENSE_ON_DOCTORS_PHYSIOTHERAPISTS_FEE,MONTHLY_EXPENSE_ON_MEDICAL_TESTS,MONTHLY_EXPENSE_ON_HYGIENE_PRODUCTS,MONTHLY_EXPENSE_ON_EMI_FOR_HOUSE,MONTHLY_EXPENSE_ON_EMI_FOR_VEHICLES,MONTHLY_EXPENSE_ON_OTHER_EMIS,MONTHLY_EXPENSE_ON_DOMESTIC_HELP,MONTHLY_EXPENSE_ON_POCKET_MONEY,MONTHLY_EXPENSE_ON_PETS
0,Madhya Pradesh,RURAL,No Failure,Accepted,1600.00,Grown-up - dominant,Industrial Workers,All Matriculates household,Male Majority,3 Members,...,0.0,0.0,820.0,360.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Punjab,RURAL,No Failure,Accepted,2438.44,Grown-up - dominant,Wage Labourers,Households of all literates,Male Majority,5 Members,...,340.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,285.0,0.0
2,Punjab,URBAN,Could not be executed,Non-Response,2025.06,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,West Bengal,RURAL,No Failure,Accepted,1498.36,Balanced households with no Seniors,Industrial Workers,Households of all literates,Balanced,2 Members,...,2500.0,0.0,0.0,385.0,0.0,2200.0,0.0,0.0,1400.0,0.0
4,Haryana,URBAN,No Failure,Accepted,1986.47,Grown-up - dominant,Wage Labourers,Households of all literates,Female Majority,5 Members,...,375.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Punjab,URBAN,No Failure,Accepted,2551.99,Grown-up - dominant,Industrial Workers,Households of all literates,Male Majority,3 Members,...,150.0,0.0,0.0,50.0,5100.0,0.0,1300.0,0.0,100.0,0.0
96,Delhi,RURAL,Could not be executed,Non-Response,2903.89,Data Not Available,Data Not Available,Data Not Available,Data Not Available,Data Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,West Bengal,URBAN,No Failure,Accepted,2290.03,Others households of Grown-ups,Retired/Aged,Households of all literates,Male Dominated,2 Members,...,1120.0,0.0,0.0,0.0,6100.0,0.0,3000.0,0.0,638.0,0.0
98,Karnataka,URBAN,No Failure,Accepted,1565.80,Balanced households with no Seniors,Wage Labourers,Households of some literates,Balanced,2 Members,...,340.0,0.0,0.0,0.0,4200.0,0.0,1600.0,0.0,100.0,580.0
99,Kerala,RURAL,No Failure,Accepted,1214.86,Balanced households with no Seniors,Agricultural Labourers,Matriculates majority household,Balanced,1 Member,...,0.0,0.0,0.0,300.0,2900.0,0.0,1400.0,0.0,350.0,0.0

In [5]:
# What is the sum of monthly expenses on Cosmetics and Toiletries in Urban households?
q1 = int(dataset.loc[dataset['REGION_TYPE'] == "URBAN", ["MONTHLY_EXPENSE_ON_COSMETIC_AND_TOILETRIES"]].sum().iloc[0])
print(q1)

35918

In [6]:
# What is the Average monthly expense on food in Rural Gender Balanced households put together? (Including Food, Edible Oils, Vegetables and Wet Spices, Fruits, Milk and Milk Products, Salty Snacks, Health Supplements, Tea, Coffee, and Bottled Water)
q2 = int(dataset.loc[dataset['REGION_TYPE'] == "RURAL", ["MONTHLY_EXPENSE_ON_FOOD", "MONTHLY_EXPENSE_ON_EDIBLE_OILS", "MONTHLY_EXPENSE_ON_VEGETABLES_AND_WET_SPICES", "MONTHLY_EXPENSE_ON_FRUITS", "MONTHLY_EXPENSE_ON_MILK_AND_MILK_PRODUCTS", "MONTHLY_EXPENSE_ON_SALTY_SNACKS", "MONTHLY_EXPENSE_ON_HEALTH_SUPPLEMENTS", "MONTHLY_EXPENSE_ON_TEA", "MONTHLY_EXPENSE_ON_COFFEE", "MONTHLY_EXPENSE_ON_BOTTLED_WATER"]].loc[dataset["GENDER_GROUP"] == "Balanced"].sum().mean())
print(q2)

9866

In [7]:
# What is the total expenditure on intoxicants, cigarettes, and tobacco in Urban Youngsters dominant households?
q3 = int(dataset.loc[dataset["REGION_TYPE"] == "URBAN", ["MONTHLY_EXPENSE_ON_INTOXICANTS", "MONTHLY_EXPENSE_ON_CIGARETTES_AND_TOBACCO"]].loc[dataset["AGE_GROUP"] == "Youngsters - dominant"].sum().sum())
print(q3)

12565

In [8]:
# How many Rural households spend more than the average expenditure of Urban households?
avg = dataset.loc[dataset["REGION_TYPE"] == "URBAN", ["TOTAL_EXPENDITURE"]].mean().iloc[0]
q4 = int(dataset.loc[dataset["REGION_TYPE"] == "RURAL", ["TOTAL_EXPENDITURE"]].where(dataset["TOTAL_EXPENDITURE"] > avg).count().iloc[0])
print(q4)

9

In [9]:
# What is the difference in total expenditure (expressed in percentage) on eating at restaurants between Rural and Urban households?
urban = dataset.loc[dataset["REGION_TYPE"] == "URBAN", ["MONTHLY_EXPENSE_ON_RESTAURANTS"]].sum().iloc[0]
rural = dataset.loc[dataset["REGION_TYPE"] == "RURAL", ["MONTHLY_EXPENSE_ON_RESTAURANTS"]].sum().iloc[0]
q5 = f"{(((urban - rural) / urban) * 100):.2f}"

In [12]:
# write a csv file with the answers called f"{roll_number}_GA1_Dataset{dataset_number}.csv"
answers = [q1, q2, q3, q4, q5]
output = "\n".join([f"Q{i},{answers[i-1]}" for i in range(1, 6)])
dataset_number = 240 # change this to the dataset number
import os
roll = os.environ.get("IITM_ROLL_NUMBER")
with open(f"{roll}_GA1_Dataset{dataset_number}.csv", "w") as f:
    f.write(output)