In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
dataset = pd.read_csv('data.csv')
sales = pd.read_csv('sales.csv')
stocks_opening = pd.read_csv('stocks_opening.csv')
stocks_transfer = pd.read_csv('stocks_transfer.csv')

In [10]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

df.isna().sum().sum()

3

In [13]:
df.dropna(inplace=True)

In [14]:
df.isna().sum().sum()

0

In [7]:
# Over the 30 days of observed sales, what is the total sale value of SKU B003 ? (INT)
total_sales_B003 = sales[sales['SKU'] == 'B003']['Sales'].sum()
print(total_sales_B003)

3836

In [41]:
# What fraction of total sale quantity (Volume) did Household category achieve in the first week? (Jan 1 to Jan 7, both days included) (3 decimal Float between 0 and 1)
# Hint: Construct a Volume Pareto Chart
sales['Date'] = pd.to_datetime(sales['Date'])

sales_week1 = sales[sales['Date'].dt.day_of_year <= 7] 
houseold_skus = dataset[dataset['Category'] == 'Household  ']['SKU'].tolist()

sales_week1_household = sales_week1[sales_week1['SKU'].isin(houseold_skus)]
total_volume = sales_week1['Sales'].sum()
household_volume = sales_week1_household['Sales'].sum()
fraction = household_volume / total_volume
print(round(fraction, 3))

0.215

In [44]:
# What is the maximum sale value by a single SKU in a day across all days? (Sale Value = Sale Qty * Price per Qty) (INT)
# create a dict of SKU and price
price_dict = dict(zip(dataset['SKU'], dataset['Price']))
sales['total_sale'] = sales['Sales'] * sales['SKU'].map(price_dict)
max_sale = sales['total_sale'].max()
print(int(max_sale))

3510000

In [45]:
# What is the least revenue generating category across all days? (STRING)
catagory_dict = dict(zip(dataset['SKU'], dataset['Category']))
sales['category'] = sales['SKU'].map(catagory_dict)
sales['total_sale'].groupby(sales['category']).sum().idxmin()

'Books'

In [47]:
# What fraction of total sale value did Mumbai achieve? (across all categories and days) (3 decimal Float between 0 and 1)

total_sales = sales['total_sale'].sum()
mumbai_sales = sales[sales['City'] == 'Mumbai']['total_sale'].sum()
fraction = mumbai_sales / total_sales
print(round(fraction, 3))

0.344

In [19]:
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import NuSVC
X = np.array([[1, -1], [1, 0], [2,1]])
y = np.array([1,2,1])
Clf = make_pipeline (StandardScaler() , NuSVC())
Clf . fit (X, y)
print (Clf.predict([[1,0]]))

[2]

In [23]:
np.logspace(-3, 0)

array([0.001     , 0.0011514 , 0.00132571, 0.00152642, 0.00175751,
       0.00202359, 0.00232995, 0.0026827 , 0.00308884, 0.00355648,
       0.00409492, 0.00471487, 0.00542868, 0.00625055, 0.00719686,
       0.00828643, 0.00954095, 0.01098541, 0.01264855, 0.01456348,
       0.01676833, 0.01930698, 0.02222996, 0.02559548, 0.02947052,
       0.03393222, 0.0390694 , 0.04498433, 0.05179475, 0.05963623,
       0.06866488, 0.07906043, 0.09102982, 0.10481131, 0.12067926,
       0.13894955, 0.15998587, 0.184207  , 0.21209509, 0.24420531,
       0.28117687, 0.32374575, 0.37275937, 0.42919343, 0.49417134,
       0.5689866 , 0.65512856, 0.75431201, 0.86851137, 1.        ])